# Introduction to Python

## What is Python?

Python is a _high-level general-purpose_ programming language. For data analytics, Python and R are the tools that have been widely accepted; however, Python is the preferred tool for most. It is especially popular in the FinTech field - common tools that are used are pandas, numpy, matplotlib, scikit-learn, etc. You will get comfortable with using pandas and matplotlib in this course!

The code you write with Python can include assignment statements, function definitions and function calls, etc.

## Print Statements

We'll begin by using a simple print statement. This will take the text that you have inputted and output it.

In [1]:
print('Hello World!')

Hello World!

In [2]:
# Print two statements
print('Hello')
print('World')

Hello
World

In [3]:
# Print a new line
print('Hello')
print('\n')
print('World')

Hello


World

## Python Basics

### Math Operations 
You can write some regular mathematical notation in Python and it will directly compute the results. This follows typical BEDMAS statements.

In [3]:
# Addition
2+2

4

In [4]:
# Subtraction
2-2

0

In [5]:
# Multiplication
3*2

6

### Division

In [7]:
# Division
4/2

2.0

The result for this type of division will always be a Float.

In [8]:
# Integer Division
8 // 5

1

In this case, the result will be an Integer. As we can see, integer division removes the remainder. So to get the remainder, we use `%`.

In [9]:
# Remainder 
8 % 5

3

### Exponents

In [10]:
# Powers (2 cubed)
2 ** 3

8

In [11]:
# Square root
4 ** (1/2)

2.0

In [12]:
# Cube root 
8 ** (1/3)

2.0

### Math Module

You can also import the `math` module and use functions from there. This contains common mathematical constants (i.e. e, pi). To call any functions or constants, you need to include `math.` before the function to refernece it.

In [13]:
import math
math.pi

3.141592653589793

In [14]:
math.e

2.718281828459045

In [15]:
math.sqrt(4)

2.0

## Assignment Statements
Some syntax rules for assigning variables:
* Never use dashes in assigning variables, use underscores instead (i.e. `variable-one` vs. `variable_one`)
* Never start a variable with a number, it needs to start with a letter (i.e. `1variable` vs. `variable1`)

In [16]:
x = 2

In [17]:
x + 2

4

In [18]:
# Reassigns x to x + 2 
x += 2
x

4

In [19]:
x - 2

2

In [20]:
# Reassigns x to x - 2 
x -= 2 
x

2

## Data Types

Other data types that will translate over from Racket as well include:
* Float
* Int 
* Strings
* Booleans 
* Lists 

NOTE: For Booleans, it can be either True (=1) or False (=0).

### Equality 
Comparisons can be used for equality or inequality testing. Equality testing is valid for most data types, however it is not recommended to use for `Float` values due to rounding errors

In [21]:
5 == 5

True

In [22]:
'Hello' == 'Hello'

True

In [23]:
True == 1

True

In [24]:
False == 0

True

For not equal, the shorthand is `!=`

In [25]:
# Inequality
3 != 3

False

In [26]:
2 != 3

True

For inequalities, you can use `>`, `>=`, `<` or `<=`

In [27]:
2 >= 3

False

In [28]:
2 <= 3

True

In [29]:
"a" < "b"

True

### Boolean Expressions

This is very similar to Racket and includes expressions such as `and`, `or` and `not`

`v1 and v2`
* True only if v1 and v2 are both True


`v1 or v2`
* True if either v1 or v2 or both are True
* Fales if both v1 and v2 are False

`not v1`
* True if v1 is False, else False

### Casting

Casting and conversions are used to convert from one data type to another.

**Convert to Float**
* Inputs: Float, Int or Str
* Outputs: Float

In [29]:
# Convert to Float
float(5), float("5.0"), float(5.0)

(5.0, 5.0, 5.0)

**Convert to Int**
* Inputs: Float, Int or Str
* Outputs: Int

In [30]:
# Convert to Int
int(5.0), int("5"), int(5)

(5, 5, 5)

**Convert to Str**
* Inputs: Float, Int or Str
* Outputs: Str

In [31]:
str(5.0), str("5"), str(5)

('5.0', '5', '5')

### Lists

List is one of the ways to store collections of data in a single variable. These are defined using `[]` and items are separated using commas. Lists can store any type of value or a combination of these data types.


1. Items are indexed starting at zero
    * The first item has index [0] and the last item has index [n-1] where n is the length of the list
    * -len(lst) <= i <= len(lst) where i is an index for the list
2. Lists can have duplicates 
    * Duplicate values can appear in the list at separate indices
3. Lists are mutable 
    * We can add, remove, replace items in a list 
4. Lists are ordered 
    * New items will be added to the end and order does not change unless functions are applied to alter it

In [32]:
lst = ['red', 'blue', 'yellow', 'green', 'purple', 'orange']

In [33]:
# First item
lst[0]

'red'

In [34]:
# Length of list
n = len(lst)
n

6

In [35]:
# Last item
lst[n-1]

'orange'

We can also slice lists which involves taking values from a range, i.e. first to third item. This uses the syntax `lst[i:j:k]` where `i` is the index to start at, `j-1` is the index to start at and `k` is how many places between each indexed item, i.e. every subsequent item is k=1, every other item is k=2, etc.

In [36]:
lst[1:3]

['blue', 'yellow']

In [37]:
lst[0:5:2]

['red', 'yellow', 'purple']

In [38]:
lst[-1]

'orange'

In [39]:
# Add item to list
lst = lst + ['blue']
lst

['red', 'blue', 'yellow', 'green', 'purple', 'orange', 'blue']

Now, we have a duplicate in our list!

In [40]:
# Removes first instance of blue
lst.remove('blue')
lst

['red', 'yellow', 'green', 'purple', 'orange', 'blue']

Lists can also be empty.

In [41]:
empty_lst = []

len(empty_lst)

0

There are a lot of functions that can be used with lists, but this will give you a good starting place. You can check out the Python documentation to learn more about how to manipulate lists.

### Dictionaries

Dictionaries are another way to store collections of data within Python. These are combinations of key-value pairs which maps it to the respective value. Dictionaries are defined using `{}` and a colon in between the key-value pair. Syntax is as follows:

``` 
d = {key1: value1,
     key2: value2,
     ...,
     keyN: valueN}
```

To access dictionary values, you call the corresponding key using square brackets, i.e. `d[key1]` will return `value1`.

In [42]:
d = {'FirstName': 'Kanika',
     'LastName': 'Chopra',
     'Program': 'Stats',
     'Term': '4A'}

In [43]:
d['FirstName']

'Kanika'

In [44]:
# Add new entry by assigning new key
d['School'] = 'University of Waterloo'

d

{'FirstName': 'Kanika',
 'LastName': 'Chopra',
 'Program': 'Stats',
 'Term': '4A',
 'School': 'University of Waterloo'}

In [45]:
# Update entry 
d['Program'] = 'Statistics'

d

{'FirstName': 'Kanika',
 'LastName': 'Chopra',
 'Program': 'Statistics',
 'Term': '4A',
 'School': 'University of Waterloo'}

### Strings

Strings are characters of words like what we have been using before.

In [46]:
fruit = 'Apple'

In [47]:
# You can slice strings too

fruit[:4]

'Appl'

In [48]:
fruit[2:3]

'p'

In [49]:
# Convert strings to uppercase

fruit.upper()

'APPLE'

In [50]:
# Lowercase
fruit.lower()

'apple'

In [51]:
# List of characters 
list(fruit)

['A', 'p', 'p', 'l', 'e']

In [52]:
# Split based on a character
fruit.split('p')

['A', '', 'le']

### Loops

A loop is used if you want to be repeating a block of code a number of times. This is the same concept as what you would have learned in CS135 or CS115 with Racket. We'll go over the syntax for for loops in Python.

#### For Loops
For loops are useful when you know how many times you want the for loop to run.

In [1]:
fruits = ['apple', 'peach', 'grapes']

# For loop
for fruit in fruits:
    print(fruit)

apple
peach
grapes

In [2]:
# For loop with ranges
for i in range (len(fruits)):
    print(fruits[i])

apple
peach
grapes

#### While Loops
While loops are useful when you want to break your loop with a separate case of conditions.

In [4]:
i = 0
while i < len(fruits):
    print(fruits[i])
    
    if fruits[i] == 'peach':
        break
    i += 1

apple
peach

Note that for the while loop, we have to initialize a counter variable, for example i = 0 and then update it at the end of the loop block.

## Functions


### Calling Functions
You can call on built-in Python or user-defined functions as well.

In [53]:
abs(-5)

5

In [54]:
len([1,2,3,4,5])

5

In [30]:
max([1,2,3,4,5]), min(1,2,3,4,5)

(5, 1)

When you were using the functions from the `math` module, you were calling on those specific functions, i.e. `math.sqrt()`.

### Creating New Functions

To create a new function, follow the syntax below:
``` 
def function_name([parameters]):
    <statements>
``` 
* `def`: To define a function
* `function_name`: The name of the function, this will be used to call it later on
* `parameters`: A list of parameters separated by commas

This syntax will run statement1,...,statementM and then output the value which would be calculated or defined in one of the statements. 
* Each statement must follow the same indenting
* Return statement added at the end to return a value, else it will defautl to returning `None` 
* You can also print something in your function, i.e. print(value)

To call a function, use the following syntax:
`function_name([<arguments>])`
The arguments are the values that are passed into the function to correspond to the parameters that were defined.

In [56]:
def add_vars(x,y):
    return x + y

In [57]:
add_vars(3,4)

7

#### What can my function do?
After defining your function, the following can be included in the body:
* Assignment statements - this introduces local variables (explained more below)
* Function calls (i.e. built in functions, other user-defined functions
* Return statement
* Print statement

### Local vs. Global Variables
Local variables do not exist outside of the function. This variable can only be called for a purpose within the function.

Global variables on the other hand live outside the function and can be called at any point. This would include the variable x that we defined earlier with the **Assignment Statement** section of this Tutorial.

In [58]:
def add_vars2(x,y):
    added = x + y 
    return added

In this case, added is a local variable and if I was to try calling added in a code block outside of that function, it would result in an error. However, it is referenced within the function with the return statement.

In [59]:
add_vars2(3,4)

7

------

## Next Steps

Now that you are comfortable with Python, we are going to introduce you to Yahoo Finance, the tool you will use to get all financial data for this course.